{% extends 'base.html' %}
{% block title %}Contabilidad{% endblock %}
{% block content %}
<h1 class="text-2xl font-semibold mb-4">Contabilidad</h1>
<ul class="grid md:grid-cols-2 gap-4">
  <li><span class="block bg-white shadow rounded p-4">Catálogo de cuentas</span></li>
  <li><span class="block bg-white shadow rounded p-4">Entradas de diario</span></li>
  <li><span class="block bg-white shadow rounded p-4">Estados financieros</span></li>
  <li><span class="block bg-white shadow rounded p-4">Libro mayor</span></li>
  <li><span class="block bg-white shadow rounded p-4">Definición de impuestos</span></li>
  <li><span class="block bg-white shadow rounded p-4">Balanza de comprobación</span></li>
  <li><span class="block bg-white shadow rounded p-4">Asignación de cuentas de mayor</span></li>
  <li><span class="block bg-white shadow rounded p-4">Contabilización por Centro de Costo y Proyecto</span></li>
  <li><span class="block bg-white shadow rounded p-4">Reportes contables y de impuestos</span></li>
  <li><span class="block bg-white shadow rounded p-4">Generación de Formulario DGII-606 y 607</span></li>
</ul>
{% endblock %}
